
dataset_merged*/**
!dataset_merged*/.gitkeep
dataset_merged_cropped*/**
!dataset_merged_cropped*/.gitkeep
pytorch-CycleGAN-and-pix2pix/datasets/** 
!pytorch-CycleGAN-and-pix2pix/datasets/.gitkeep

pretrained/** 
!pretrained/.gitkeep
checkpoints_final_submission_swin/** 
!checkpoints_final_submission_swin/.gitkeep
embeddings_medsiglip_final/** 
!embeddings_medsiglip_final/.gitkeep
pytorch-CycleGAN-and-pix2pix/checkpoints/** 
!pytorch-CycleGAN-and-pix2pix/checkpoints/.gitkeep
pytorch-CycleGAN-and-pix2pix/models/** 
!pytorch-CycleGAN-and-pix2pix/models/.gitkeep
*.zip
*.png
*.jpg
*.jpeg
submission.csv
*.log
*.tmp
*.bak
*.swp
__pycache__/
*.pyc
*.pyo
*.egg-info/


*.orig


.DS_Store
Thumbs.db